:root {
    --primary-color: #AA5656;
    --secondary-color: rgb(170, 86, 86, 0.5);
}

.auth {
    display: grid;
    place-items: center;
    height: 100vh;
}

.user-btns button {
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: 0;
    box-shadow: 2px 2px 8px #ccc;
    margin: 0 0.5rem;
    cursor: pointer;
}

.auth-form {
    height: 100vh;
    display: grid;
    place-items: center;
}

.d-none {
    display: none;
}

.form-group {
    margin-bottom: 1rem;
}

input, select {
    width: 15rem;
    font-size: 1.1rem;
    padding: 0.3rem;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

.btns {
    font-size: 1.05rem;
    border-radius: 3px;
    box-shadow: 2px 2px 8px #ccc;
    padding: 0.4rem 1rem;
    color: white;
    border: 0;
    background-color: var(--primary-color);
    cursor: pointer;
}

.btns:disabled {
    background-color: var(--secondary-color);
}